.form-review {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
}

.btn-submit {
  cursor: pointer;
  border: 1px solid #1c9cef;
  background-color: #1c9cef;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15),
    0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.25s;
  border-radius: 9999px;
  padding: 0.5rem 0;
  color: white;
  width: 150px;
  margin: 0.5rem auto;
  display: block;
}

.btn-submit:hover,
.btn-submit:active {
  box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 15%), 0px 4px 8px 1px rgb(0 0 0 / 10%);
  border: 1px solid #058de5;
  background-color: #058de5;
}

.btn-submit.btn-submitted {
  border-color: #2ba637;
  background-color: #2ba637;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

#autodetect {
  color: #999;
  display: none;
  font-size: x-small;
  margin-left: 1ex;
}

#autodetect-line-count {
  color: #777;
}

.star-container {
  min-height: 32px;
}

.star-path--full {
  fill: url('#fullGradient');
}

.star-path--empty {
  fill: url('#emptyGradient');
}

.star-path--half {
  fill: url('#halfFullGradient');
}

.reviewer-container {
  display: none;
}
.reviewer-container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.reviewer-container label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.reviewer-container input[type=checkbox] {
  margin-inline-end: 1ex;
}
.link-button {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
.link-button:hover {
  text-decoration: none;
}

.note {
  color: #555;
  font-size: x-small;
  margin-top: 1em;
  display: none;
}

.visible {
  display: initial;
}